{
  "freshbooks": {
    "url": "",
    "token": ",
    "project": {
      "name": "",
      "id": ""
    }
  },
  "harvest": {
    "subdomain": "",
    "email": "",
    "password": "",
    "project": {
      "name": "",
      "id": ""
    },
    "task": {
      "name": "",
      "id": ""
    }
  }
}